<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InsertNews</servlet-name>
        <servlet-class>Servlets.InsertNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertAdmins</servlet-name>
        <servlet-class>Servlets.InsertAdmins</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertBanners</servlet-name>
        <servlet-class>Servlets.InsertBanners</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertCollage_council</servlet-name>
        <servlet-class>Servlets.InsertCollage_council</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertCollage_council_session</servlet-name>
        <servlet-class>Servlets.InsertCollage_council_session</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertComminity_service_council</servlet-name>
        <servlet-class>Servlets.InsertComminity_service_council</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertCommunity_service_session</servlet-name>
        <servlet-class>Servlets.InsertCommunity_service_session</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertDepts</servlet-name>
        <servlet-class>Servlets.InsertDepts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertGraduate_studies_council</servlet-name>
        <servlet-class>Servlets.InsertGraduate_studies_council</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertGraduate_studies_session</servlet-name>
        <servlet-class>Servlets.InsertGraduate_studies_session</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertProfessors</servlet-name>
        <servlet-class>Servlets.InsertProfessors</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertStudent_affairs_council</servlet-name>
        <servlet-class>Servlets.InsertStudent_affairs_council</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertStudent_affairs_session</servlet-name>
        <servlet-class>Servlets.InsertStudent_affairs_session</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertStudents</servlet-name>
        <servlet-class>Servlets.InsertStudents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertSubjetcs</servlet-name>
        <servlet-class>Servlets.InsertSubjetcs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRecord</servlet-name>
        <servlet-class>Servlets.DeleteRecord</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertNews</servlet-name>
        <url-pattern>/InsertNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertAdmins</servlet-name>
        <url-pattern>/InsertAdmins</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertBanners</servlet-name>
        <url-pattern>/InsertBanners</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertCollage_council</servlet-name>
        <url-pattern>/InsertCollage_council</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertCollage_council_session</servlet-name>
        <url-pattern>/InsertCollage_council_session</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertComminity_service_council</servlet-name>
        <url-pattern>/InsertComminity_service_council</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertCommunity_service_session</servlet-name>
        <url-pattern>/InsertCommunity_service_session</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertDepts</servlet-name>
        <url-pattern>/InsertDepts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertGraduate_studies_council</servlet-name>
        <url-pattern>/InsertGraduate_studies_council</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertGraduate_studies_session</servlet-name>
        <url-pattern>/InsertGraduate_studies_session</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertProfessors</servlet-name>
        <url-pattern>/InsertProfessors</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertStudent_affairs_council</servlet-name>
        <url-pattern>/InsertStudent_affairs_council</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertStudent_affairs_session</servlet-name>
        <url-pattern>/InsertStudent_affairs_session</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertStudents</servlet-name>
        <url-pattern>/InsertStudents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertSubjetcs</servlet-name>
        <url-pattern>/InsertSubjetcs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRecord</servlet-name>
        <url-pattern>/DeleteRecord</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
